<header class="h-full w-full bg-gray-900 text-white shadow-md text-center">
  <div class="h-full px-10 flex flex-row items-center justify-between">
    <div class="flex items-center space-x-5">
            <div class="text-lg font-bold">Juan Pablo Uribe Pineda</div>
    <div class="text-base">Software developer</div>
    </div>

    <nav>
      <ul class="flex space-x-7">   
        <li>
          <a href="#" class="hover:text-pink-400 transition-colors">Inicio</a>
        </li>
        <li>
          <a href="#" class="hover:text-pink-400 transition-colors">Proyectos</a>
        </li>
        <li>
          <a href="#" class="hover:text-pink-400 transition-colors">Sobre mí</a>
        </li>
        <li>
          <a href="#" class="hover:text-pink-400 transition-colors">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
